@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&family=Lexend+Deca&family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  /* font-family: "'Lexend Deca', sans-serif"; */
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
  transition: all 0.3s ease-in-out;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #39557e;
  background-color: white;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
}

button:hover {
  color: blue;
  transition: all 1s ease-in-out;
}

h6 {
  font-family: "Lexend Deca", sans-serif;
  letter-spacing: 0.8px !important ;
  font-size: 20px;
}

h4 {
  line-height: 1;
  margin: 0 0;
  font-size: 30px;
  letter-spacing: -1.5px;
  font-weight: 600;
  color: #082a5e;
}

.flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend Deca", sans-serif;
  color: #082a5e;
  margin-top: 0px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: unset;
}

p {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  color: #39557e;
  margin-bottom: 15px;
}
